[Desktop Entry]
Version=1.0
Type=Application
Name=Audio Coffin
Comment=An audio recorder/logger for JACK that takes your secrets to the grave
TryExec=acoffin
Exec=acoffin
Icon=audio-coffin
Actions=Recorder;Logger;
Categories=AudioVideo;Audio;Recorder;GTK;
MimeType=audio/x-vorbis+ogg;audio/x-flac

[Desktop Action Recorder]
Exec=acoffin
Name=Start Audio Coffin Recorder

[Desktop Action Logger]
Exec=acoffin -m 2 -s 0 -r 32000 -q 0.2 -c 1 -f 2
Name=Start Audio Coffin Logger
